@page
@model Backoffice_bibliotheque.Pages.ResaCRUD.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Reservation</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Reservation.Book)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Reservation.Book.Title)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Reservation.Requester)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Reservation.Requester.Email)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Reservation.Status)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Reservation.Status)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Reservation.PositionInQueue)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Reservation.PositionInQueue)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Reservation.RequestedAt)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Reservation.RequestedAt)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Reservation.ExpireAt)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Reservation.ExpireAt)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Reservation.BookTitleSnapshot)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Reservation.BookTitleSnapshot)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Reservation.RequesterNameSnapshot)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Reservation.RequesterNameSnapshot)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Reservation.CreatedAt)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Reservation.CreatedAt)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Reservation.UpdatedAt)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Reservation.UpdatedAt)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Reservation?.Id">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
