@page
@model Backoffice_bibliotheque.Pages.LoansCRUD.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Loan</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Loan.BookCopy)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Loan.BookCopy.Barcode)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Loan.Borrower)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Loan.Borrower.Email)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Loan.LoanDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Loan.LoanDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Loan.DueDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Loan.DueDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Loan.ReturnDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Loan.ReturnDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Loan.Status)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Loan.Status)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Loan.RenewalCount)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Loan.RenewalCount)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Loan.LastReminderDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Loan.LastReminderDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Loan.Book)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Loan.Book.Title)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Loan.BookTitleSnapshot)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Loan.BookTitleSnapshot)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Loan.BorrowerNameSnapshot)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Loan.BorrowerNameSnapshot)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Loan.BorrowerEmailSnapshot)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Loan.BorrowerEmailSnapshot)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Loan.CreatedAt)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Loan.CreatedAt)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Loan.UpdatedAt)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Loan.UpdatedAt)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="Loan.Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-page="./Index">Back to List</a>
    </form>
</div>
